#profile__container {
    display: flex;
}

#select__profile__mode {
    margin-right: 20px; /* personal__info와의 간격을 조절 */
    width: 30%; /* 전체 너비의 30%를 차지하도록 설정 */
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
}

#personal__info {
    display: flex;
    width: 70%; /* 전체 너비의 70%를 차지하도록 설정 */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin: 20 auto;
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
}

.personal__info_block {
    width: 45%; /* 전체 너비의 50%를 차지하도록 설정 */
    height: 200px; /* 높이를 200px로 설정 */
    margin-bottom: 10px; /* 요소들 사이의 간격을 조정 */
    padding: 10px; /* 요소 내부의 여백을 추가 */
    border: 1px solid #000; /* 테두리를 설정 */
    border-radius: 10px; /* 둥근 테두리를 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 요소의 크기에 포함 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.personal__info_text {
    font-size: 20px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
}

